@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

nav{
    z-index: 0;
}
/* logo icon */
.logo_icon{
    padding-left: 80px;
    padding-top: 15px;
}

/* top section */
.hero{
    display: flex;
}
/* big meal img and text aside it */
.hero_section_img{
    width: 490px;
    margin-left: 120px;
    padding-top: 50px;
}

.hero_text{
    padding: 80px;
}
.fifty_off{
    background-color: #149F39;
    color: white;
    padding: 6px 30px;
    font-weight: 100;
    font-family: 'roboto';
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}
.hero_heading{
    font-weight: 500;
    font-size: 72px;
    font-family: 'roboto';
    font-style: normal;
    /* text-transform: uppercase; */
    /* line-height: 84px; */
    padding-top: 40px;
}
.hero_para{
    font-family: 'roboto';
    font-style: normal;
    font-weight: 400;
    padding-top: 15px;
    padding-left: 3px;
    font-size: 16px;
}
.explore_btn{
    position: relative;
    top: 70px;
    padding: 13px;
    font-size: 24px;
    font-family: 'roboto';
    text-decoration: none;
    color: white;
    background-color: #FFC066;
}

/* feature section */
.features{
    margin-top: 90px;
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    border-bottom: 2px solid #B7B7B7;
}
.feature{
    display: flex;    
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
}
.feature img{ 
    width: 72px;
}
.feature:hover {
    transition: 0.2s ease-in-out;
    box-shadow:  5px 5px 5px 5px rgba(1, 1, 1, 0.2);
    /* box-shadow: ; */
}

/* divider section */
.tag{
    display: inline-block;
    background-color: #149F39;
    color: white;
    font-style: 36px;
    padding: 8px 10px;
    margin-bottom: 9px;
    font-size: 25px;

}
.menu{
    text-align: center;
    margin-top: 80px;
    font-family: 'roboto';
    line-height: 30px;
}
.h2 h2{
    padding-top: 10px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'roboto';
    font-style: normal;
    letter-spacing: 3px;
}

/* grid section */
.grid{
    padding: 90px ;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}
.item1{
    grid-area: I1;
}
.item2{
    grid-area: I2;
}
.item3{
    grid-area: I3;
}
.item4{
    grid-area: I4;
}
.item5{
    grid-area: I5;
}
.item6{
    grid-area: I6;
}
.item7{
    grid-area: I7;
}

/* grid-image */
.grid-image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.2s ease-out;
}
.grid-image:hover{
    transition: 0.2s ease-out;
    transform: scale(1.02);
}

/* footer */
h3 ~ a {
    text-decoration: none;
    color: black;
    display: flex;
}

.footer_container{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(251, 238, 218);
}
.footer_container h3{
    margin-bottom: 8px;
    color:gray;
    font-size: 19px;
}
.footer_container h4{
    color:gray;
    padding-top: 4px
}

.icon_container{
    gap: 20px;
    display: flex;
    font-size: 32px;
}

.mainlink,
.support,
.join_community{
    padding: 0 40px;
}
